.App {
  text-align: center;
  float: left;
  height: 100vh;
  width: 100wh;
  max-width: 100vw;
}

.Page {
  background-color: gray;
  height: 100vh;
  overflow: auto;
  float: left;
}

/* #0B2545 #13315C #134074 #BFCDE0 8DA9C4 */
