.tab {
  max-width: 50px;
}

.receipts-grid {
  display: grid;
  grid-template-columns: auto auto;
  overflow: hidden;
  max-width: 297mm;
  min-width: 297mm;
  margin: auto;
  // max-height: 210mm;
  // min-height: 210mm;
}

.receipt-1 {
  border-right: 3px dotted black;
}

.receipt-2 {
  margin-left: 2mm;
}
