.receipt-table {
  margin:0 auto;
}

.PersonArea {
  overflow: hidden;
  width: 100%;
}

.person {
  padding: 0px;
  float:left;
  max-width: 10cm;
  min-width: 10cm;
  margin: 10px;
  td {
    width: 50%;
  }
}