.costFields {
  max-width: 145mm;
  min-width: 145mm;
  margin-bottom: 2mm;
  th {
    min-width: 40mm;
    max-width: 40mm;
  }
  td {
    min-width: 40mm;
  }
}

.closingInformation {
  max-width: 100mm;
  min-width: 100mm;
  th {
    min-width: 40mm;
    max-width: 40mm;
  }
  td {
    min-width: 85mm;
    max-width: 85mm;
  }
}
