.costFields {
  padding: 0px;
  width: 90%;
  margin: 20px;
  th {
    min-width: 200px;
    max-width: 200px;
  }
  td {
    min-width: 60px;
  }
}

.additionalInformation {
  padding: 0px;
  width: 90%;
  margin: 20px;
  table {
    th {
      min-width: 200px;
      max-width: 200px;
    }
    td {
      width: 50%;
    }
  }
}

.closingInformation {
  padding: 0px;
  width: 90%;
  margin: 20px;
  table {
    th {
      min-width: 200px;
      max-width: 200px;
    }
    td {
      width: 50%;
      font-weight: bold;
    }
  }
}
